.main-container{
    height:3562px;
    width: 1440px;
    margin: auto;
}

.body-container{
    position: relative;
    height: 1950px;
    width: 1440px;
    margin: auto;
    background-color: #fafafa;
}

#bookmark{
    padding-left: 10px;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 1440px;
    margin: auto;
    height: 72px;
    background-color: #f8faf2;
    position: absolute;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.08);
}

.icon-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 389px;
    margin-right: 80px;
}
#upload{
    position: static;
    padding: 7px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(to right, #3cf06c 49.38%, #b8d344 98%);
    border-radius: 8px;
    color: white;
    border: none;
}

.container-header{
    position: absolute;
    padding-top: 184px;
    width: 790px;
    margin-left:325px;
    height: 1619px;
}

.image-area{
    background-image: url(../img/bodyimg.png);
    background-repeat: no-repeat;
    padding-block: 15px;
}

h3{
    font-weight:600;
   font-size: 32px;
   font-style: normal;
   line-height: 48px;
    font-family:'Bebas Neue', cursive; ;
}

h6{
   padding-left: 65px; 
   font-weight:600;
   font-size: 14px;
   font-style: normal;
   line-height: 21px;
   font-family: 'Bebas Neue', cursive;
}

#image-area-span{
   padding: 15px;
}

.image-area1{
    background-image: url(../img/image2.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 790px;
    height: 435px;
}

.write-up{
    margin-top: 460px;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 25.1px;
}

#thumbs-up {
    color:#34A853;
}

#thumb{
    font-weight:700;
    font-size: 14px;
    font-style: normal;
    line-height: 17.57px;
    letter-spacing: 0.4px;
}

.icon-footer{
    display: flex;
    justify-content: space-between;
    letter-spacing:0.5px;
}

.icon-footerdiv1{
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.grid-container{
   height: 1000px;
   background-color: #ecf0e2;
}

h1{
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    padding-left: 117px;
    padding-top: 50px;
}

.container{
    padding: 40px 50px 0px 152px;
}

#font-grid{
    width: 167px;
    margin: auto;
}

#font-grid1 {
    width: 224px;
    margin: auto;
}

#font-grid2{
    width: 261px;
    margin: auto;
}

#font-grid,#font-grid1,#font-grid2 {
    font-family: 'Bebas Neue';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-right: 50px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 10px;
}

#col-font{
    color: gray;
    font-size: 12px;
}

#col-font{
    background-image: url(../img/item1-1.png);
    background-repeat: no-repeat;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-top: 10px;
}

span{
    padding: 10px;
}

.footer{
    height: 530px;
    display: grid;
    align-items: center;
    background: #2E2F34;
}

#footer-font{
    color: white;
}

#grid-col-1{
    width: 350px;
}

#grid-col2{
    padding-left: 150px;
}

li a{
    text-decoration: none;
}

li{
    line-height: 40px;
}

